CMakeLists.txt.user
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Thirdparty/fbow/build/
Thirdparty/fbow/lib/
Thirdparty/fbow/include/
Thirdparty/fbow/bin/
Thirdparty/fbow/share/
Vocabulary/orb_mur.fbow
cmake-build-debug/
cmake-build-release/
Test/Live/Multicam/multicam_live
Test/Live/IRD/realsense_live
Test/Live/Monocular/mono_camera
Test/Replay/IRD/realsense_replay
Test/Live/QRCode/qrCode_live
Test/Live/ArucoCode/arucoCode
Test/Replay/QRCode/qrCode_replay
Test/Replay/Monocular/mono_euroc
Test/Replay/Monocular/mono_kitti
Test/Replay/Monocular/mono_tum
Test/Replay/RGBD/RGBD-tum
Test/Replay/ROS/ORB_SLAM2/CMakeLists.txt.user
Test/Replay/ROS/ORB_SLAM2/Mono
Test/Replay/ROS/ORB_SLAM2/MonoAR
Test/Replay/ROS/ORB_SLAM2/RGBD
Test/Replay/ROS/ORB_SLAM2/Stereo
Test/Replay/ROS/ORB_SLAM2/build/
Test/Replay/Stereo/stereo_euroc
Test/Replay/Stereo/stereo_isl
Test/Replay/Stereo/stereo_kitti
Tools/Benchmarks/Live/Monocular/benchmark_mono_live
Tools/Benchmarks/Replay/Monocular/benchmark_mono_replay
Tools/Benchmarks/Replay/IRD/benchmark_ird_replay
Tools/Benchmarks/Replay/RGBD/benchmark_rgbd_replay
Tools/Benchmarks/Replay/Stereo/benchmark_stereo_replay
Tools/Calibration/Monocular/camera_calibration
Tools/Calibration/Stereo/camera_calibration_stereo
Tools/Grab/Depth/grab_realsense_depth
Tools/Grab/Infrared/grab_realsense_ir
Tools/Grab/Monocular/grab_monocular
Tools/Grab/RGB/grab_realsense_rgb
Tools/GrabSequence/IRD/grab_sequence_realsense_ird
depth/
infrared/
build/
CameraTrajectory*.txt
*.asv
*~
*.dat
*.bin
*.map
*.log
*.png
*.jpg
*.jpeg
*.bmp
lib/
.idea/
*.mapfile
Drone/DroneVslam
QRCodes.txt

# Created if programs crash inside containers
core
